*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
.page-mainer{
	margin-top: 20px;
	text-align: center;
}

img{
	height: 300px;
	width: 250px;
	border-radius: 10px;
}
.logo-mainer{
	margin-top: 20px;
	text-align: center;